.row_wrapper {
  /*display: flex;*/
  /*flex-direction: row;*/
  margin-top: var(--pt1);
}

.message{
  margin-left: var(--pt1);
}

.location{

}

.result {

  /*display: inline-flex;*/

  width: 100%;
}

.link_for_branch {
  padding-top: var(--pt1);
}
